.imgProfile{
    width: 50px;
    border-radius: 50%;
    margin: 0 1rem;
}
.imgProfile:hover{
    rotate: 360deg;
    transition: .8s;
    cursor: pointer;
}
.off{
    width: 30px;
    filter: invert(30%)
}
.profileDropdown{
    width: 10px;
    border-radius: 50%;
    margin: 0 1rem;

}
