
.nav {
  display: flex;    
  align-items: center;
  color: #0D0202;
  padding: 0rem;
  position: relative;
  z-index: 10;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  box-shadow: 2px 2px 6px rgb(184, 184, 184);
  padding-bottom: .5rem;

}

.menu {
  display: flex;
  list-style: none;
  font-size: 15px;
  margin-left: 0px;
  margin-right: 195px;
  margin-top: -1rem;
}

.menuItem {
  font-family: 'Roboto', sans-serif;
  font-size: 14.5px;
  text-decoration: none;
  margin-right: .6rem;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  margin: 0 1rem;
}  

.menuItem:hover{
color: #6d016e;
}
.menuItem:focus{
  color: #6d016e;
  }



.logo {
  width: 220px;
  margin-top: 12px; 
  height: auto; 
  justify-content: center;
}


.vector{
  margin-left: 1rem;
  margin-right: 0px;
  padding-right: 0px;
  width: 23px;
  height: auto;
}

.login{
  margin-left: 0;
  padding: 0;
}


.icons {
  display: flex;
  align-items: center;
  margin-top: 5px; 
  margin-right: -.5rem
}

.btnb {
  font-size: 17px;
  padding: .7em .7em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(102, 101, 101, 0.4);
  background: #6d016e;
  color: white;
  border-radius: 50%;
  margin-right: 1rem;
 }
 
 .btnb:hover {
  transition: .4s;
  background: white;
  color:rgb(109, 1, 110); 
 }
 
 .btnb:active {
  transform: translate(0em, 0.2em);
 }

.searchBar{
  margin: 0 5rem
  
}

.btnb img{
  width: 40px;
  height: auto;
}

.userName{
position: relative;
margin-top: 1rem;
font-size: 15px;
font-weight: 500;
}